@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// GENERAL STYLES
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  height: 48px;
  border-radius: 24px;
  font-size: 0.9rem;
  line-height: 24px;
  letter-spacing: -0.25;
  font-weight: 700;
  color: #ffff;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: none;
}

a:active {
  color: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 0.8rem;
  line-height: 18px;
  letter-spacing: -0.1;
}

h1 {
  font-size: 2.2rem;
  line-height: 33px;
  letter-spacing: -1;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  line-height: 22px;
  letter-spacing: -1;
  font-weight: 700;
}

h3 {
  font-size: 0.9rem;
  line-height: 24px;
  letter-spacing: -0.25;
  font-weight: 700;
}

.container {
  width: 90%;
  margin: 0 auto;
}

// NAVBAR STYLES
.navigation-bar {
  width: 100%;
  height: 72px;
  background-color: #1e2139;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__button {
    @include flex-center;
    &-switch {
      margin-right: 19px;
    }
  }
  &__avatar {
    width: 72px;
    height: 72px;
    border-left: 1px solid #979797;
    @include flex-center;
    &-img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }
  &__logo {
    position: relative;
    width: 72px;
    height: 72px;
    background-color: #7c5dfa;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    &-img {
      z-index: 1;
      @include center-absolute;
    }
    &-bottom {
      width: 72px;
      height: 36px;
      background-color: #9277ff;
      position: absolute;
      bottom: 0;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}

//INVOICE HEADER STYLES
.invoice-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  &__buttons {
    @include flex-center;
    flex-direction: row;
    position: relative;
    &-select {
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 5px;
      h3 {
        font-size: 1.1rem;
      }
    }
  }
}

// MODAL FOR FILTERING AND FOR PAYMENT TERMS IN INVOICE FORM
div.modal {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 192px;
  height: auto;
  border: 1px solid #252945;
  border-radius: 10px;
  z-index: 1;
}

div.modal div.modal-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  input {
    width: 20px;
    height: 20px;
  }
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: bold;
  }
}

.modal-input__checkbox:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #7c5dfa;
  border-radius: 2px;
  padding: 1px;
}

.modal-input__checkbox:checked:after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: 1px solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 22px;
}

.modal-input__checkbox:checked:before {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #7c5dfa;
}

.invoice-header__button {
  width: 90px;
  height: 44px;
  border-radius: 24px;
  background-color: #7c5dfa;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  margin-left: 10px;
  h3 {
    color: #ffff;
    margin-right: 5px;
  }
  &-plus {
    width: 32px;
    height: 32px;
    background-color: #ffff;
    border-radius: 50%;
    @include flex-center;
  }
}

// INVOICE ITEM IN INVOICE LIST
.invoice-item {
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'id . client'
    'date . status'
    'total . status';
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 16px;
  &__id {
    grid-area: id;
    margin-bottom: 10px;
    margin-left: 10px;
    h3 {
      display: inline-block;
    }
  }
  &__payment-due {
    grid-area: date;
    margin-left: 10px;
  }
  &__total {
    grid-area: total;
    margin-left: 10px;
  }
  &__client {
    grid-area: client;
    text-align: right;
    margin-right: 10px;
  }
  &__status {
    grid-area: status;
  }
  &__prefix {
    color: #7e88c3;
  }
}

.invoice-item__status-dot--pending,
.invoice-item__status-dot--draft,
.invoice-item__status-dot--paid {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.invoice-item {
  border-radius: 6px;
  &__wrapper {
    width: 100%;
  }
  &__status {
    width: 104px;
    height: 40px;
    border-radius: 6px;
    @include flex-center;
    gap: 5px;
    justify-self: end;
    margin-right: 10px;
    h3 {
      display: inline-block;
      background-color: transparent;
    }
    &-paid {
      background-color: rgba(51, 214, 159, 0.1);
      color: #33d69f;
    }
    &-pending {
      background-color: rgba(255, 143, 0, 0.1);
      color: #ff8f00;
    }
    &-draft {
      background-color: rgba(223, 227, 250, 0.4);
    }
    &-dot {
      &--pending {
        background-color: #ff8f00;
      }
      &--paid {
        background-color: #33d69f;
      }
    }
  }
}

// INVOICE DETAILS STYLES
.invoice-details__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 91px;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 16px;
  div {
    margin: 0;
  }
}

.invoice-details__info {
  width: 100%;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'id .'
    'adres .'
    'date recipient'
    'payment recipient'
    'email .'
    'items items'
    'total total';
  justify-items: start;
  &-id,
  &-adres,
  &-date,
  &-payment,
  &-email,
  &-recipient {
    margin-bottom: 30px;
  }
  &-date p,
  &-payment p,
  &-email p,
  &-recipient p:first-of-type,
  &-recipient h3 {
    margin-bottom: 5px;
  }
  &-id {
    grid-area: id;
  }
  &-adres {
    grid-area: adres;
  }
  &-date {
    grid-area: date;
  }
  &-payment {
    grid-area: payment;
  }
  &-email {
    grid-area: email;
  }
  &-recipient {
    grid-area: recipient;
  }
  &-items {
    grid-area: items;
    width: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
}

.invoice-details__buttons {
  width: 100%;
  height: 72px;
}

.invoice-details__info-id h3 {
  display: inline-block;
}

.invoice-details__single-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.invoice-details__info-total {
  grid-area: total;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invoice-details__buttons {
  @include flex-center;
  gap: 8px;
}

button {
  &.edit-button {
    width: 73px;
    background-color: #252945;
  }
  &.delete-button {
    width: 89px;
    background-color: #f3ece4;
    color: #ffffff;
  }
  &.paid-button {
    width: 149px;
    background-color: #7c5dfa;
  }
}

a.edit-button {
  color: #7e88c3;
  background-color: #f9fafe;
  width: 73px;
  height: 48px;
  border-radius: 24px;
  font-size: 0.9rem;
  @include flex-center;
}

.invoice-form__heading {
  color: #7c5dfa;
  margin-bottom: 6px;
}

.invoice-form label {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.1px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.invoice-form__adress,
.invoice-form__recipient {
  display: flex;
  flex-direction: column;
}

.city-postcode {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}

//INPUT SIZES FOR MOBILE DEVICES IN INVOICE FORM
.invoice-form input,
.invoice-form label,
div.city-postcode,
div.invoice-form__item-grid,
form.invoice-form button.invoice-form_item-add {
  max-width: 504px;
}

.invoice-form .city-postcode input,
.invoice-form .city-postcode label {
  max-width: 252px;
}

div.form-container {
  display: flex;
  justify-content: center;
}

form.invoice-form {
  padding: 10px 0 10px 0;
}

.invoice-form input {
  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  height: 48px;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  margin-top: 5px;
}

div.invoice-form__payment-terms {
  margin-top: 5px;
}

div.invoice-form__payment-terms div.modal-body {
  & label {
    margin-bottom: 0;
  }
  & input {
    margin-top: 0;
  }
}

.invoice-form input:focus-visible {
  border: 1px solid transparent;
  outline: 1px solid #7c5dfa;
  outline-offset: -2px;
}

.invoice-form input {
  width: 100%;
}

.invoice-form__item-grid {
  display: grid;
  grid-template-columns: 2fr 0.75fr 1fr 1fr 0.5fr;
  grid-template-rows: auto;
  grid-template-areas: 'name quantity price total delete';
  column-gap: 5px;
}

.invoice-form__item {
  &-name {
    grid-area: name;
  }
  &-quantity {
    grid-area: quantity;
  }
  &-price {
    grid-area: price;
  }
  &-total {
    grid-area: total;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &-delete {
    grid-area: delete;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
}

.invoice-form__item-add {
  width: 100%;
  max-width: 504px;
  margin: 44px 0 44px 0;
}

button {
  color: #dfe3fa;
  &.save-button {
    width: 114px;
    background-color: #7c5dfa;
  }
  &.cancel-button {
    width: 84px;
  }
  &.draft-button {
    width: 117px;
    background-color: #373b53;
  }
}

.invoice-form__buttons {
  @include flex-center;
  width: 100%;
  height: 91px;
  gap: 5px;
}

label .input-error {
  outline: 1px solid #f3ece4;
}

p.error {
  position: absolute;
  right: 0;
}

//REACT DATE PICKER CALENDAR
.react-datepicker__triangle {
  display: none;
}

.react-datepicker__day-names {
  display: none;
}

button.react-datepicker__navigation span.react-datepicker__navigation-icon::before {
  border-width: 3px 3px 0 0;
  border-color: rgba(124, 93, 250, 1);
  width: 5px;
  height: 5px;
}

div.react-datepicker__month-container div.react-datepicker__header {
  border: none;
  background-color: transparent;
  .react-datepicker__current-month {
    color: white;
  }
}

button.react-datepicker__navigation--next {
  top: 22px;
  right: 22px;
}

button.react-datepicker__navigation--previous {
  top: 22px;
  left: 22px;
}

.react-datepicker__month-container {
  padding: 20px;
  border-radius: 8px;
}

div.react-datepicker {
  border: none;
  border-radius: 10px;
  font-family: 'League Spartan';
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -0.25px;
}

div.react-datepicker__month-container div.react-datepicker__month div.react-datepicker__week div.react-datepicker__day {
  &:hover {
    color: #7c5dfa;
    background-color: transparent;
  }
  &--selected {
    color: #7c5dfa;
    background-color: transparent;
  }
  &--outside-month {
    opacity: 0.3;
  }
  &--keyboard-selected {
    background-color: transparent;
  }
}

.calendar-label {
  position: relative;
  img {
    position: absolute;
    right: 10px;
    top: 45%;
    width: 20px;
    height: 20px;
  }
}

.invoice-form__payment-terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 10px;
  border: 1px solid #252945;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.25px;
  position: relative;
  border-radius: 4px;
  div.modal {
    width: 100%;
    height: auto;
    left: 0;
    top: 48px;
    border-radius: 3px;
    .modal-input__checkbox:checked:after {
      left: 6px;
      bottom: 6px;
    }
  }
}

div.back-button {
  padding: 10px 0 10px 0;
  margin: 0 auto;
  button {
    @include flex-center;
    gap: 15px;
    cursor: pointer;
    font-weight: 700;
  }
}

.invoice-form__mode-display {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 0;
  span {
    margin-left: 10px;
    font-size: 1.5rem;
  }
}

div.empty-message {
  @include flex-center;
  flex-direction: column;
  height: 70vh;
  h2 {
    margin: 60px 0 20px 0;
  }
}

.delete-modal {
  @include flex-center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  &__content {
    @include flex-center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 327px;
    min-height: 220px;
    max-width: 480px;
    max-height: 249px;
    width: 90%;
    height: auto;
    z-index: 9999;
    padding: 30px;
    box-shadow: 0px 10px 20px 0px rgba(72, 84, 159, 0.25);
    & h2 {
      margin-bottom: 30px;
    }
    & p {
      margin-bottom: 30px;
    }
    .modal-buttons {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}
.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .invoice-item {
    grid-template-columns: 0.5fr 0.75fr 1fr 0.25fr 0.75fr 1fr 0.25fr;
    grid-template-rows: auto;
    grid-template-areas: 'id date client . total status link';
    align-items: center;
    justify-items: end;
    &__id {
      margin-bottom: 0;
    }
    width: calc(100% - 20px);
    max-width: 730px;
  }
  .link-arrow-right {
    grid-area: link;
    padding: 10px;
  }
  .invoice-header {
    width: calc(100% - 97px);
    max-width: 730px;
  }
  .invoice-details__buttons {
    justify-content: flex-end;
    background-color: transparent;
  }
  .invoice-details__status {
    height: 91px;
    width: calc(100% - 97px);
    max-width: 730px;
    p {
      margin-right: 20px;
    }
  }
  div.invoice-details__info,
  div.back-button {
    width: calc(100% - 97px);
    max-width: 730px;
  }
  div.invoice-details__info {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'id . . adres'
      'date recipient email .'
      'payment recipient . . '
      'items items items items'
      'total total total total';
  }

  .invoice-details__info-adres {
    justify-self: end;
    p {
      text-align: right;
    }
  }
  .invoice-details__table {
    width: 100%;

    thead tr,
    tbody tr {
      display: grid;
      grid-template-columns: 2.5fr 0.5fr 1fr 1fr;
      grid-template-areas: 'name qty price total';
    }
    th.item-name-label,
    td.item-name {
      grid-area: name;
      justify-self: start;
    }
    th.item-qty-label,
    td.item-qty {
      grid-area: qty;
      justify-self: center;
    }
    th.item-price-label,
    td.item-price {
      grid-area: price;
      justify-self: end;
    }
    th.item-total-label,
    td.item-total {
      grid-area: total;
      justify-self: end;
    }
    thead tr {
      padding: 20px;
      th {
        font-weight: lighter;
        font-size: 0.8rem;
      }
    }
    tbody tr {
      td {
        font-weight: bold;
        font-size: 0.9rem;
        &:nth-child(1) {
          grid-area: name;
        }
        &:nth-child(2) {
          grid-area: qty;
        }
        &:nth-child(3) {
          grid-area: price;
        }
        &:nth-child(4) {
          grid-area: total;
        }
      }
    }
  }

  .modal-open {
    overflow: hidden;
  }

  div.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  div.form-container {
    flex-direction: column;
    justify-content: normal;
    width: 74%;
    max-width: 616px;
    height: 90%;
    padding: 60px;
    position: fixed;
    top: 74px;
    overflow: auto;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .invoice-form__buttons {
    display: none;
  }
  div.modal-content {
    overflow-y: auto;
    padding-bottom: 20px;
    padding-right: 16px;
  }
  div.modal-content::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
    &-thumb {
      background-color: #dfe3fa;
      border-radius: 4px;
    }
    &-track {
      background-color: transparent;
    }
  }

  div.modal-content {
    scrollbar-width: thin;
    scrollbar-color: #dfe3fa transparent;
  }

  div.modal-form__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    border-top-right-radius: 20px;
    gap: 10px;
    box-shadow: 0 -8px 12px -4px rgba(0, 0, 0, 0.1);

    button.save-button {
      margin-right: 80px;
    }
  }
  .invoice-form input,
  div.invoice-form__payment-terms {
    margin-left: 1px;
  }
}

@media (min-width: 1024px) {
  div.form-container {
    height: 100vh;
    top: 0px;
    left: 72px;
    border-radius: 20px;
  }
  .navigation-bar {
    width: 72px;
    height: 100vh;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    left: 0;
    top: 0;
    &__button {
      flex-direction: column;
      &-switch {
        margin: 0 auto;
      }
    }
    &__avatar {
      border-top: 1px solid #979797;
      border-left: none;
    }
  }
  div.back-button,
  div.invoice-header {
    margin-top: 72px;
  }

  .invoice-header__button-plus,
  .navigation-bar__button-switch,
  div.modal-body input,
  div.back-button button,
  button.delete-button,
  button.edit-button,
  button.paid-button,
  div.invoice-form__payment-terms button,
  div.invoice-form label,
  button.save-button,
  button.cancel-button,
  button.draft-button,
  .invoice-form__item-delete {
    cursor: pointer;
  }

  div.back-button button:hover {
    color: #7e88c3;
  }

  div.invoice-item:hover {
    border: 1px solid #7c5dfa;
  }

  .invoice-header__button-plus {
    transition: transform 0.3s ease, background-color 0.3s ease; /* Dodane */
    &:hover {
      transform: scale(1.1);
      background-color: #33d69f;
    }
  }

  button.edit-button:hover {
    background-color: #dfe3fa;
    color: #7e88c3;
  }

  button.delete-button:hover {
    background-color: #ff9797;
  }
  button.paid-button:hover,
  button.save-button:hover {
    background-color: #6742ff;
  }
  button.draft-button:hover {
    background-color: #0c0e16;
  }
}
